html{
    height: 100%;
  margin:0;
  font-family: garamond;
}

.jumbotron{
    font-family: garamond;
    color:purple;
    font-weight: bold;
    text-align: center;
    padding:2%;
    background: url("../images/diamondcrystal.jpg");
    border-color: #28a745!important;
    border: 20px;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: purple;
    background: url("../images/nasa.jpg");
    margin:10%;
    margin-top:5%;
}

section {

    align-content: justify;
}

.card{
    text-align: center;
    background: url("../images/nasa.jpg");
}

.card-text{
color:purple;
margin:0;
font-size:12px;
}

.card-header{
    background:forestgreen;
    text-align: center;
}
